@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}
ul {
	list-style: none;
}
button,
input,
select {
	margin: 0;
}
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
img,
video {
	height: auto;
	max-width: 100%;
}
iframe {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

body {
	font-family: "DM Sans", sans-serif;
	max-width: 1440px;
	margin: auto;
	padding: 50px 50px;
}

/* list of tags ( main + header) */
ul {
	display: flex;
	flex-wrap: wrap;
}

ul li:hover,
.highlight {
	background-color: #901c1c;
}

ul li:hover a,
.highlight a {
	color: #fff;
}

ul li {
	border: 0.5px solid #c4c4c4;
	border-radius: 11px;
	font-size: 14px;
	margin: 3px 3px;
	padding: 2px 7px;
}

li a {
	color: #901c1c;
}

.screenReader {
	position: absolute;
	top: -10000px;
}

/* tablet and mobile version */
@media screen and (max-width: 900px) {
	body {
		padding: 50px 20px;
	}
}
